.inp{
    
    margin-top:5%;   
    margin-right:8%; 

}

.list{
    margin-top:5%; 
    /* border:2px solid red;  */ 
    /* background-color: #fec8c1; 
    background-color:#009688;  */
   
}

.item{
   padding:2%; 
   display:flex; 
   flex-direction:row; 
   justify-content: space-evenly ; 
   /* background-color:#ff9191;  */
   /* background-color:#CCCCFF;  */
   background-color: #183153; 
   /* border:1px solid black; */
}

.listhead{
   /* border : 2px solid black ;  */
   background-color:#FEF8DD; 
   background-color:#F7d8BA; 
}

.hidnavbtn{
    background-color:#43fa9a; 
}

.navbtn{
    background-color:black; 
    color:white; 
}
