.inp{
    
    margin-top:5%;   
    margin-right:8%; 

}

.list{
    margin-top:5%; 
    /* border:2px solid red;  */ 
    /* background-color: #fec8c1; 
    background-color:#009688;  */
   
}

.item{
   padding:2%; 
   display:flex; 
   flex-direction:row; 
   justify-content: space-evenly ; 
   /* background-color:#ff9191;  */
   /* background-color:#CCCCFF;  */
   background-color: #1a1c3c; 
  
    border:1px solid white; 
}

.listhead{
   /* border : 2px solid black ;  */
   background-color:#FEF8DD; 
   background-color:#F7d8BA; 
}

.hidnavbtn{
    background-color:#43fa9a; 
}

.navbtn{
    background-color:black; 
    color:white; 
}

.favlisthead{
    background-color: var(--purple-200)
}
.favitem{
    padding:2%; 
   display:flex; 
   flex-direction:row; 
   justify-content: space-evenly ; 
    background-color:var(--orange-100);
    color:black;  
   
    border:1px solid white; 
}
